<!-- END CHANGEABLE CONTENT. -->
</main>
<footer container class="siteFooter">
    <p><a href="https://sabaytraining.com/">&copy; SabayTraining, Laravel</a></p>
    <p class="float-right">
        <?php   // Set the timezone:
                  date_default_timezone_set('Asia/Phnom_Penh');
                  // Now print the date and time:
                  print date('g:i a l F j');
          ?>
    </p>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>